<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 配置文件加载 -->
    <context:property-placeholder location="classpath*:*.properties" />
	
	<!-- 扫描的包路径，这里不扫描被@Controller注解的类 -->
    <context:component-scan base-package="com.sunnyfe.template">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    

	<!-- Spring和Mybatis整合配置 -->
    <import resource="classpath*:spring-mybatis.xml" />
    <!-- Spring和Redis整合配置 -->
    <import resource="classpath*:spring-redis.xml" />
</beans>